<!DOCTYPE html>
<html>
<head>
<title>Change Password</title>
<link href="../assets/otp.css" type="text/css" rel="stylesheet" />


</head>
<body>
	<div class="container w3-card">
		<div class="err"></div>
		<form id="mobile-number-verification">
			<div class="mobile-heading">Mobile Number Verification</div>
			<div class="mobile-row">
			    <br>
				<input type="number" id="phoneno" class="mobile-input" placeholder="Enter the 10 digit mobile number">
			</div>
			<div id="loading-image">
			<img src="../images/loading-image.gif" alt="ajax loader">
			</div>
            <input type="button" class="mobileSubmit" value="Get OTP"onClick="getOTP();">
		</form>
	</div>
	
</body>
</html>